// parallax also on mobile 
#section-hero .parallax{
  background-attachment: fixed;
}

// @media (max-width: 991.98px) { /* below lg */
//   .section-heading.align-items-center {
//     align-items: flex-start !important;
//   }
// }


// publications page adjustments
  //  for mobile view

@media (max-width: 768px) {
   
    /* Remove horizontal padding only for publication grid items */
    #container-publications .grid-sizer.col-lg-12 {
      padding-left: 0 !important;
      padding-right: 0 !important;
    }

    /* Remove row side margins inside publication container */
    #container-publications .row {
      margin-left: 0 !important;
      margin-right: 0 !important;
    }
  }
  // for desktop view
@media (min-width: 768px) {
  /* the form-row immediately before the publications container */
  .universal-wrapper .form-row.mb-4 {
    margin-left: 0 !important;
    margin-right: 0 !important;
    padding-left: 10px  !important; 
    padding-top: 1rem !important; 

  }
}


.stream-item img,
.media img {
  border-radius: 3px;   
  // object-fit: cover;     /* optional: keeps it neat if cropped */
}

// pager items have background color and border
.post-nav-item {
  padding-left: 1rem;
  padding-right: 1rem;
  background-color: $sta-home-section-odd;
  border: 2px solid $sta-home-section-even;
  border-radius: 5px;
}
.dark .post-nav-item {
  background-color: $sta-dark-home-section-odd;
  border: 2px solid $sta-dark-home-section-even;
}

// так появление скроллбара не будет сдвигать контент
@media (min-width: 768px) {
  html {
    scrollbar-gutter: stable;
  }
}

// contact page map size
#map {
  width: 95%;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 3px;

  @media (max-width: 992px) {
    margin-top: 30px;
  }

  @media (min-width: 992px) {
 
    width: 90%;
    height: 350px;
    margin-left: auto;
    margin-right: auto;
  
    }
}

#contact_us{
  padding-top: 5rem ;
}


#contact_us .mb-0{      /// padding if there is no subtitle
  padding-bottom: 2rem;
  @media (max-width: 992px) {
    padding-bottom: 0rem;
  }
}




// article h1 size adjustment 
.article-container h1 {
  font-size: 1.8rem;   
  // font-weight: 600;  /* optional
  // margin-top: 1rem;  /* adjust spacing */
}

// hide auto theme option
.theme-dropdown .js-set-theme-auto {
  display: none !important;
}


// author highlighted in publications
.article-metadata .author-highlighted {
    font-weight: 500
}


// forms on publications page
.form-control, .form-control:focus{
  background: #fdfdfd !important;
}

.dark .form-control, .dark .form-control:focus{
  background: $sta-dark-home-section-odd !important;
}

// underline active menu item
.navbar-nav .active { 
  text-decoration: underline; 
  text-decoration-thickness: 0.1rem;
  text-underline-offset: 0.5rem;
}


/////////  Hero section /////////

// big screen hero section height is at least 2/3 of viewport height
@media (min-width: 768px) {
  #section-hero {
    min-height: 80vh;
  }
  .hero-links-text{
    padding-bottom: 1rem;
    padding-top: 3rem !important;
  }
}

// hero image settings -- change when image is added
.hero-media img {
  width: 80%;
  height: auto; // maintain aspect ratio
  margin-top: 7rem;
  // padding-top: 6rem; //60px;
  border-radius: 3px;
  @media (max-width: 768px) {
    display: none !important; // hide on mobile view
  }
}
// probably delete after image added 
@media (max-width: 768px) {
  #section-hero{
    min-height: 66vh;
  }
}

// hero title
.hero-title {
  text-align:left; 
  font-weight: 500;
  font-size: 2rem;
  padding-top: 0.5rem;
  @media (min-width: 768px) {
     padding-top: 0.5rem;
  }
}

// hero text 
.hero-lead{
  text-align: left; 
  font-size: 1.125rem !important;
  line-height: 1.6rem !important;
  font-weight: 300;
  padding-top: 2rem;
  @media (max-width: 768px) {
    padding-top: 2.5rem; // mobile view
  }
}

// hero links 
.hero-links-text{
  font-size: 1rem;
  line-height: 1.7rem;
  text-decoration: underline; //none;  
  text-underline-offset: 0.25rem; 
  padding-top: 1.5rem
}

//////// End Hero section /////////


// home page horizontal padding in desktop and tablet view
.home-section {
  padding: 2em 1.5em !important; // default (desktop/tablet)

  @media (max-width: 768px) {
    padding: 2em 0em !important; // mobile view
  }
}


// reduced padding to pevent annoying 3row names at laptop screen size
@media (min-width: 992px) {
  .people-person{
    padding-left: 3px !important;
    padding-right: 3px !important;
  }
}

// #theme-icon {
//   transition: transform 0.3s ease;
// }

// body.dark #theme-icon {
//   color: $sta-dark-menu-text;
// }

// card view image

@media (min-width: 768px) {
  .card-simple {
    padding-left: 40px ;
    padding-right: 40px ;
  }
}


.img-hover-zoom {
  max-height: 300px;
  width: auto; // maintain aspect ratio
  // margin: 0 auto; // center it if needed

  // Optional: Set a fixed height with object-fit if you want cropping
  // height: 1000px;
  overflow: hidden; // hide overflow if needed
}

// card view light theme
.card-simple {
  background: #fbfbfb;
}
// card view maint text
a.summary-link {
  color: #313131;
}
.dark a.summary-link {
  color: #f2f4ff;
}

// card view title
.article-title a {
  color: #313131; 
}
.dark .article-title a {
  color: #f2f4ff; 
}
////////////


// publications list
#container-publications .media.stream-item {
  margin-bottom: 0; //removing margin bottom
  align-items: center; //vertically-align image div
  .article-title {
    font-size: 1rem;
    line-height: 1.3rem;
    // background-color: red;
  }
}
publications list and each publication page
.article-metadata {
  font-size: 1rem; //larger font size for autors, venue and date
}

.article-tags {
  margin-top: 0.5rem; //smaller margin top (was 1.2)
}

.section-subheading {
  line-height: 1.5rem;
  font-size: 128;
}

// .pub-abstract {
//   font-size: 0.875rem;
//   line-height: 1.25rem;
// }

.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
}

.embed-container iframe,
.embed-container object,
.embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.pubFig {
  width: 32%;
  display: inline-block;
  margin: 0 0.1rem 1rem !important;
}

.pubFig img {
  display: inline !important;
  vertical-align: top !important;
}

.people-person {
  padding-bottom: 1rem;
}

.featured-image-wrapper {
  padding-left: 1rem !important;
  padding-right: 1rem !important;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

body.dark,
.dark .docs-toc-link,
.dark .modal button.close,
.dark input {
  background: #1d2127 !important;
}

// .home-section:nth-of-type(even) {
//   background: initial;  //# rgb(255, 0, 0) !important;
// }

// .dark .home-section:nth-of-type(even) {
//   background: #1d2127 !important;
// }

.gallery-grid {
  padding-top: 2em !important;
}

// @media only screen and (min-width: 1001px) {
//   #profile-page {
//     width: 1000px;
//     margin: 0 auto;
//   }
// }

.author-highlighted {
  text-decoration: underline;
}


// add padding before Interests and Education sections

#profile-page .article-style {
  padding-bottom: 1rem;
}





// #profile-page .article-widget
// {
//     display: none;
// }

// @media (min-width: 992px) {
//     .people-widget .col-sm-auto {
//         width: 25%;
//     }
// }

/*.activities .col-md-6
{
    flex: 0 0 80%;
    max-width: 80%;
}

.activities .col-md-6.order-first
{
    flex: 0 0 20% !important;
    max-width: 20% !important;
}*/

// #section-collection.activities p.summary
// {
//     overflow: hidden;
//     display: -webkit-box;
//     -webkit-line-clamp: 3;
//     -webkit-box-orient: vertical;
// }

// #section-collection.activities .article-style.toggle p.summary
// {
//      display: block;
// }

// body:not(.dark) .logo_dark {
//   display: none;
// }
// .dark .logo_light {
//   display: none;
// }

// .navbar-brand-mobile-wrapper
// {
//     justify-content: center;
// }

// .navbar-brand-mobile-wrapper .navbar-brand
// {
//     margin: 0px !important;
//     padding: 0.5em;
// }

// .site-footer .d-lg-inline-flex
// {
//     width: 100%;
//     display: flex;
//     justify-content: center;
// }

// .site-footer .navbar-brand
// {
//     margin: 0px !important;
//     padding-left: 5px;
//     padding-right: 5px;
// }

// .site-footer .social img
// {
//     max-height: 40px;
// }

// footer p
// {
//     margin-bottom: 0px !important;
// }

// .page-footer .container
// {
//     max-width: 100% !important;
//     box-shadow: 0 -0.125rem 0.25rem 0 rgba(0, 0, 0, 0.11);
// }

// .dark .page-footer .container
// {
//     max-width: 100% !important;
//     box-shadow: 0 -0.125rem 0.25rem 0 rgba(255, 255, 255, 0.11);
// }
